.place__group {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
}
@media screen and (min-width: 320px) {
  .place__group {
    margin: 25px 15px 25px 21px;
  }
}
@media screen and (min-width: 768px) {
  .place__group {
    margin-top: 22px;
    margin-bottom: 27px;
  }
}
